theme "dracula"
default_shell "zsh"
pane_frames true

layout {
	pane split_direction="vertical" {
	    	// pane command="lf"
		pane command="nvim" { 
	        	args "-c" "Oil" 
		}
        }
	pane borderless=true size=1 {
                plugin location="file:/home/aqua/.aquamoon/zjstatus.wasm" {
		    format_right  "{datetime}"
                    datetime      "#[fg=#FFB86C,bold] {format} "
		    datetime_format "%A, %b %d %I:%M %p"
                    datetime_timezone "America/Chicago"

                    format_center "{tabs}"
                    hide_frame_for_single_pane "false"

                    tab_normal   "#[fg=#FFB86C]󰈿"
                    tab_active   "#[fg=#FFB86C,bold]  󰈿  "
		}
	}
}

ui {
    pane_frames {
        rounded_corners true
	hide_session_name true
    }
}
