theme "dracula"
default_shell "zsh"
pane_frames true

layout {
	pane split_direction="vertical" {
	    pane command="lf" borderless=true
        }
	pane borderless=true size=1 {
                plugin location="file:/etc/zellij/zjstatus.wasm" {
                    format_center "{tabs}"
                    hide_frame_for_single_pane "false"

                    tab_normal   "#[fg=#FFB86C]󰈿"
                    tab_active   "#[fg=#FFB86C,bold]  󰈿  "
		}
	}
}

ui {
    pane_frames {
        rounded_corners true
	hide_session_name true
    }
}
